<h1 class="text-4xl my-8">{{recipe.name}}</h1> 
<div class="grid grid-cols-1 md:grid-cols-3">
  <div class="flex flex-col md:mr-4 mb-4 gap-4">
    <div>
      <label class="mr-2 font-bold" for="prepTime">Preparation Time:</label>
      <span>{{recipe.prepTime}}</span>
    </div>
    <div>
      <label class="mr-2 font-bold" for="cookTime">Cooking Time:</label>
      <span>{{recipe.cookTime}}</span>
    </div>
  </div>
  <div class="col-span-2">
    <div>
      <h2 class="font-bold">Ingredients:</h2>
      <div class="mt-2">
        <div id="ingredients" class="rounded-sm mb-4"></div>
      </div>
    </div>
    <div>
      <h2 class="font-bold">Instructions:</h2>
      <div class="mt-2">
        <div id="instructions" class="mb-4"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  document.getElementById('ingredients').innerHTML = marked.parse(`{{recipe.ingredients}}`);
  document.getElementById('instructions').innerHTML = marked.parse(`{{recipe.instructions}}`);
</script>