<h1 class="text-2xl my-8">{{recipe.name}}</h1> 
<div class="grid grid-cols-1 md:grid-cols-3">
  <div class="flex flex-col md:mr-4 mb-4 gap-4">
    <div>
      <label class="mr-2" for="prepTime">Preparation Time:</label>
      <span>{{recipe.prepTime}}</span>
    </div>
    <div>
      <label class="mr-2" for="cookTime">Cooking Time:</label>
      <span>{{recipe.cookTime}}</span>
    </div>
  </div>
  <div class="col-span-2">
    <div>
      <label for="ingredients">Ingredients:</label>
      <div class="mt-2">
        <div id="ingredients"></div>
      </div>
    </div>
    <div>
      <label for="instructions">Instructions:</label>
      <div class="mt-2">
        <div id="instructions"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  document.getElementById('ingredients').innerHTML = marked.parse(`{{recipe.ingredients}}`);
  document.getElementById('instructions').innerHTML = marked.parse(`{{recipe.instructions}}`);
</script>